<html>
<head>
<link rel="stylesheet" href="template/css/bootstrap.min.css">
<link rel="stylesheet" href="template/css/bootstrap-theme.min.css" >

</head>
<body>
<div class="container">
<h1>Informe gen&oacute;mico</h1>

{% for key, category in result.iteritems() %}
	<h3>
		{% if category.icon %}<img src="{{ category.icon }}" />{% endif %}
		{{ category.title }}
	</h3>
		<div class="row">
	{% for data in category.data %}
		<div class="col-6 col-sm-4" style="padding-bottom: 15px;{% if loop.index % 2 %}background-color: rgba(238, 238, 238, 0.15);{% endif %}">
			<h4>{% if data.icon %}<img src="{{ data.icon }}" />{% endif %}
			{{ data.title }} {% if data.repute == None %}{% elif data.repute == True %}(Bueno){% elif data.repute == False %}(Malo){% endif %}</h4>
			{% for snp in data.snp %}
				<div style="padding: 1px 5px; {% if loop.index % 2 %}background-color: #eee;{% endif %}">
					<h6>SNP {{ snp.snp }}, cromosoma {{ snp.chromosome }} tu genotipo {{ snp.genotype }}</h6>
					<p>{{ snp.info }}</p>
				</div>
			{% endfor %}
		</div>
		{% if not loop.index % 3 %}
			</div>
			<div class="row">
		{% endif %}
	{% endfor %}
		</div>
	<hr>
{% endfor %}
</div>
</body>
<script src="template/js/bootstrap.min.js" ></script>
<script src="template/js/jquery-3.1.1.min.js" ></script>
</html>